#entrer{

    -fx-font-family: Georgia;
    -fx-font-size: 20;
    -fx-background-color: Green;

}

#root{
    -fx-background-color: #98FB98;
}


#selection{
    -fx-font-family: Georgia;
    -fx-font-size: 20;
}

#label{
    -fx-font-family: "Georgia Pro";
    -fx-font-size: 30 ;
}
