#pane{

    -fx-background-color: #98FB98;

}

#label{

    -fx-font-family: "Georgia Pro";
    -fx-font-size: 50 ;



}

#play{

    -fx-font-family: Georgia;
    -fx-font-size: 20;
    -fx-background-color: Green;



}

#probleme{

    -fx-font-family: Georgia;
    -fx-font-size: 20;
    -fx-background-color: Green;



}

#quitter{

    -fx-font-family: Georgia;
    -fx-font-size: 20;
    -fx-background-color: Green;



}

